[[source]]
name = "pylinebot"
url = "https://pypi.org/project/pylinebot/"
verify_ssl = true

[dev-packages]
python-dotenv = "*"
mypy = "*"
flake8 = "*"
black = "*"
flask = "*"
wheel = "*"
twine = "*"

[packages]
line-bot-sdk = "*"

[requires]
python_version = "3"
